In [1]:
import warnings
# Ignore all warnings (not recommended in general)
warnings.filterwarnings('ignore')

# EDA

In [2]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('catfood_no_duplicates.csv')

# Show general information about the dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company         218 non-null    object
 1   price           190 non-null    float64
 2   weight          218 non-null    float64
 3   star_rating     183 non-null    float64
 4   total_comments  183 non-null    float64
 5   adult           218 non-null    float64
 6   chicken         218 non-null    int64
 7   wet             218 non-null    float64
 8   from_ocean      218 non-null    int64
 9   fish            218 non-null    int64
 10  tuna            218 non-null    int64
 11  salmon          218 non-null    int64
 12  mackerel        218 non-null    int64
 13  shrimps         218 non-null    int64
 14  milk            218 non-null    int64
 15  can             218 non-null    int64
 16  gravy           218 non-null    int64
 17  pouch           218 non-null    int64
 18  liver           218 non-null    int64
 19  grilled         218 non-null    int64
 20  turkey          218 non-null    int64
 21  ham             218 non-null    int64
 22  vegan           218 non-null    int64
dtypes: float64(6), int64(16), object(1)
memory usage: 39.3+ KB
None

## Missing data

In [3]:
# Check how many missing values per column
print(data.isnull().sum())

# Check how many rows contain at least one missing value
print(data.isnull().any(axis=1).sum())

company            0
price             28
weight             0
star_rating       35
total_comments    35
adult              0
chicken            0
wet                0
from_ocean         0
fish               0
tuna               0
salmon             0
mackerel           0
shrimps            0
milk               0
can                0
gravy              0
pouch              0
liver              0
grilled            0
turkey             0
ham                0
vegan              0
dtype: int64
54

In [4]:
# Drop rows with any missing values
data = data.dropna()
len(data)

164

In [5]:
data.to_csv('catfood_no_missing.csv', index=False)